{
  "root": true,

  "parser": "@typescript-eslint/parser",

  "env": { "node": true },

  "plugins": ["@typescript-eslint"],

  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },

    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },

  "parserOptions": {
    "sourceType": "module"
  },

  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",

    "quotes": ["error", "double", { "allowTemplateLiterals": true }],

    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",

    "consistent-return": "warn",

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "destructuredArrayIgnorePattern": "^_" }
    ],

    "max-classes-per-file": "off",

    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "mts": "never",
        "cts": "never"
      }
    ],

    "no-use-before-define": "off",
    "no-useless-constructor": "off",

    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",

    "import/no-extraneous-dependencies": "off"
  }
}
